
h1 {
	font-size: 40px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-variant: small-caps;
}

p{
	font-size: 12px;
	line-height: 40px;
	font-weight: bold;
	font-style: italic;
}