body{
	font-family: arial;
}

h1, h2{
	color: cyan;
	font-size: 20px;
}

h2{
	text-transform: uppercase;
}

ul li a {
	color: red;
}

ol li a{
	color: orange;
}


#p1{
	color: blue;
	font-style: italic;

}

.p2{
	color: red;
	text-transform: capitalize;

}

.cetak-tebal{
	font-weight: bold;
}
